.card {
  position: relative;
  height: 335px;
  width: 335px;
  border-radius: 10px;
  transition: 0.3s;


  h2 {
    font-size: 18px;
  }

  .infos {
    position: absolute;
    padding-right: 30%;
    bottom: 20px;
    left: 20px;
    color: $white;
    display: grid;
    justify-content: left;
    align-items:center;

  }
  img {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
