.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slide-style {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  transition: all 300ms ease-in-out 300ms;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #ffffff;
  left: 24px;
  font-size: 48px;
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #ffffff;
  right: 24px;
  font-size: 48px;
  z-index: 1;
  cursor: pointer;
}

.counter {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #ffffff;
  z-index: 1;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .slide-style {
    border-radius: 10px;
  }
  .left-arrow {
    left: 5px;
    font-size: 24px;
  }
  .right-arrow {
    right: 5px;
    font-size: 24px;
  }
  .counter {
    display: none;
  }
}
