.card {
  position: relative;
  height: 335px;
  width: 335px;
  border-radius: 10px;
  transition: 0.3s;
  background: rgb(255,96,96);

  h2 {
    font-size: 18px;
  }

  .infos {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    left: 10px;
    color: $white;
    display: grid;
    justify-content: left;
    align-items:center;
    border-radius: 10px;
    opacity: 1;
  }
  img {
    position:absolute;
    top:0;
    left:0;
    height: 200px;
    width: 335px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}
