.dropdown {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;

  &__bar {
    color: $color-4;
    display: flex;
    justify-content: space-between;
    background-color: $color-1;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.2em;
    position: relative;

    &__menu {
      background-color: $color-2;
      opacity: 1;
      position: relative;
      top: -15px;
      z-index: -1;
      height: auto;
      padding: 30px 20px;
      font-size: 18px;
      line-height: 27px;
      color: $color-1;
      transition: all 200ms ease-in-out;
      animation: growDown 200ms ease-in-out forwards;
      transform-origin: top center;
      border-radius: 10px;

      &__off {
        height: 0;
        color: $color-1;
        font-size: 14px;
        padding: 0 20px;
        opacity: 0;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100% !important;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 5%;

  &__dropdown {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    border-radius: 5px;
    &__bar {
      border-radius: 5px;
      font-size: 1em;
      &__menu {
        font-size: 0.8em;
        line-height: 17px;
      }
    }
  }

  .details {
    flex-direction: column;
    gap: 10px;
    &__dropdown {
      width: 100%;
    }
  }
}
