.gallery {
  background-color: $color-2;
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 30px;
  width: 100%;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      grid-gap: 30px;
      align-items: center;
    }
  }
}
