.gallery {
  margin-left: 100px;
  margin-right: 100px;
  background-color: $color-2;
  padding: 50px;
  border-radius: 25px;

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
}
