.logo {
  @include alignLeft;
  margin: 50px 100px;
  width: 115px;
  padding: 5px 0;
  // background: url(../../assets/img/main.png) center/cover;

  img {
    height: 30px;
  }
  h3 {
    margin-left: 10px;
    color: $color-1;
  }
}
