.about-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.mentions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 85%;
  margin: 10px auto;
  gap: 15px;
  &__drop {
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    margin-right: 20px;
    margin-left: 20px;
  }
  .mentions {
    width: 100%;
    margin: 0px auto;
    gap: 10px;
    &__drop {
      margin-top: 5px;
    }
  }
}
