@font-face {
  font-family: 'font-1';
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

$font-1: 'font-1', sans-serif;

$color-red: #ff6060;
$color-2: #f6f6f6;
$color-3: #282c34;
$white: #ffffff;

@mixin alignLeft {
  display: flex;
  justify-content: left;
  align-items: left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
}
li {
  list-style-type: none;
}
